# AirSafe — Azure Functions dependencies
azure-functions==1.24.0
azure-storage-blob==12.28.0
requests==2.33.1
pandas==3.0.2
numpy==2.4.4
pykrige==1.7.3
lightgbm==4.6.0
beautifulsoup4==4.14.3
lxml==6.1.0
joblib==1.5.3
python-dotenv==1.2.2
scikit-learn==1.8.0
shap==0.51.0
